.controls {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.filters {
  display: flex;
  gap: 12px;
}

@media (max-width: 517px) {
  .controls {
    flex-direction: column;
    gap: 12px;
  }
  
  .filters {
    width: 100%;
  }
  
  .filters select {
    width: 100%;
  }
}
