.card {
    background: rgba(255, 255, 255, 0.8);
    border-radius: var(--radius);
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: all 0.35s ease;
    transform: translateY(10px);
    overflow: hidden;

}

.card:hover {
    transform: translateY(0);
    box-shadow: 0 16px 35px rgba(0, 0, 0, 0.15);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    border-bottom: 1px solid #c2c2c2;
    object-position: center 100%;
}

.card h4 {
    margin: 12px 0 6px;
    font-size: 18px;
    font-weight: 600;
}

.card p {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 16px;
}

.card:hover {
    transform: translateY(-5px);
}

