.grid {
    display: grid;
    width: 100%;
}

@media (max-width: 1023px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) !important;
        gap: 1rem !important;
    }
}

@media (max-width: 767px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) !important;
        gap: 0.9rem !important;
    }
}

@media (max-width: 479px) {
    .grid {
        grid-template-columns: 1fr !important;
        gap: 0.8rem !important;
    }
}

@media (max-width: 359px) {
    .grid {
        grid-template-columns: 1fr !important;
        gap: 0.6rem !important;
    }
}
