.badge{
    padding: 0.25rem 0.75rem;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
}

.active{
    background: var(--approved-color-bg);
    color: var(--approved-color-text);
}

.inactive{
    background: var(--rejected-color-bg);
    color: var(--rejected-color-text);
}

.soon{
    background: var(--pending-color-bg);
    color: var(--pending-color-text);
}

.draft{
    background: #e2e3e5;
    color: #383d41;
}