.adminLayout {
    min-height: 100vh;
    background: var(--bg);
}

.main {
    margin-left: 280px;
    transition: margin-left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.main.collapsed {
    margin-left: 80px;
}

@media(max-width: 1024px) {
    .main {
        margin-left: 240px;
    }
    
    .main.collapsed {
        margin-left: 70px;
    }
}

@media (max-width: 1440px) {
    .main {
        margin-left: 0;
        margin-top: 50px;
    }
    
    .main.collapsed {
        margin-left: 0;
    }
}