.visualizer {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 4px;
    height: 80px;
    margin-bottom: 3rem;
}

.bar {
    width: 6px;
    background: var(--accent);
    border-radius: 3px 3px 0 0;
    animation: visualizer 1.5s ease-in-out infinite;
}


@keyframes visualizer {
    0%, 100% { height: 10px; }
    25% { height: 40px; }
    50% { height: 60px; }
    75% { height: 30px; }
}

